<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <section>
                <h4 class="title"> Tu carrito de Compras </h4>

                <article class="paso">
                    <a href='/products/productCart'><h2>1</h2></a> 
                    <a href='/products/productCart2'><h2>2</h2></a>
                    <h2 class="pasoTres">3</h2>
                    <a href='/products/productCart4'><h2>4</h2></a>
                </article>

                <p class ="description"> Dirección de entrega </p>

                <div class="form"><!--Debe ser un form con 2 div-->
                    <form action="/" method="POST">
                        <label for="name">
                            Nombre de que recibe:
                            <input type="text" id="name" name="name" placeholder="Nombre Completo">
                        </label>
                        <label for="tel">
                            Telefono celular: 
                            <input type="tel" id="tel" name="tel" placeholder="ej:1122334455">
                        </label>
                        <label for="company">
                            Empresa: 
                            <input type="text" id="company" name="company" placeholder="Envio a domicilio laboral">
                        </label>
                        <label for="dir">
                            Calle/Altura/Piso/Puerta: 
                            <input type="number" id="dir" name="dir" placeholder="Calle">
                            <div>
                                <input type="number" id="dir" name="dir" placeholder="Altura">
                                <input type="number" id="dir" name="dir" placeholder="Piso">
                                <input type="number" id="dir" name="dir" placeholder="Puerta">
                            </div>
                        </label>
                    </form>

                    <form action="/" method="POST">
                        <label for="codPost">
                            Codigo Postal: 
                            <input type="text" id="codPost" name="codPost" placeholder="CP:012">
                        </label>
                        <label for="country">
                            Pais:
                            <select name="country">
                                <option value="arg"> Argentina </option>
                                <option value="br"> Brasil </option>
                                <option value="uy"> Uruguay </option>
                                <option value="par"> Paraguay </option>
                                <option value="ch"> Chile </option>
                            </select>
                        </label>
                        <label for="Prov">
                            Provincia:
                            <select name="Prov">
                                <option value="bsas">Buenos Aires</option>     
                                <option value="cor">Cordoba</option>
                                <option value="men">Mendoza</option>
                                <option value="sl">San Luis</option>
                            </select>
                        </label>
                        <label for="town">
                            Ciudad: 
                            <select name="town">
                                <option value="CABA">Ciudad Autonoma de Buenos Aires</option>
                                <option value="CJJ">Ciudad de Jujuy</option>
                                <option value="CM">Ciudad de Mar del Plata</option>
                                <option value="CST">Ciudad San Miguel de Tucuman</option>
                            </select>
                        </label>
                        <label for="barrio">
                            Barrio: 
                            <select name="barrio">
                                <option value="bel">Belgrano</option>
                                <option value="bal">Balvanera</option>
                                <option value="rec">Recoleta</option>
                                <option value="sc">San Cristobal</option>
                                <option value="pp">Parque Patricios</option>
                            </select>
                        </label>
                    </form>
                </div>

            </section>
            <div class="bEnv">
                <button type="submit"> ENVIAR </button>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>