<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>
<body>
    <%- include('./partials/header')  %>   
    <main class="contact">
        <h1 class="title">¿En qué podemos ayudarte?</h1>
        <div class="questions">
            <ul class="preg-frec">
                <li><a href="#">¿CÓMO COMPRAR?</a>
                  <ul>
                    <li>
                        <a href="#" class="preguntas">
                            <p>Podés navegar el sitio a través de las distintas categorías en busca de los productos que quieras comprar, o bien utilizar el buscador para encontrar algo específico. En computadoras podés encontrar el buscador en la parte superior derecha de la pantalla, y en dispositivos móviles y celulares en el margen superior izquierdo.</p>
                            <p>A medida que encuentres productos de tu interés, podrás ir agregandolos a tu carrito antes de finalizar la compra. Para agregar un producto a tu carrito debés seleccionar primero su variante de color y talle.</p>
                            <p>No hay un límite de cantidad de productos para agregar al carrito. Para ver qué producto tenés pre-seleccionados o finalizar tu compra, accedé al ícono de bolsa en la parte superior derecha de tu pantalla. Allí podrás avanzar para finalizar la compra, o ver un detalle de tu carrito.</p>
                            <p>Para finalizar tu compra deberás completar 3 pasos:</p>
                            <p>- Método de envío y dirección</p>
                            <p>- Dirección de Facturación (en caso que difiera de la información del punto 1)</p> 
                            <p>- Método de Pago</p> 
                            <p>Métodos de Envío: Contamos con 2 opciones de envío:</p>
                            <p>- Envío a Domicilio</p> 
                            <p>- Envío a Sucursal Andreani</p> 
                            <p>Dirección de Facturación:</p> 
                            <p>- Si la información de facturación es la misma que la de envío, podrás optar por no ingresarla</p> 
                            <p>Método de Pago:</p>
                            <p>Sólo podrás realizar pagos con tarjeta de crédito</p>
                            <p>En el momento que se acredite tu pago, recibirás un email de confirmación del mismo. También, recibirás un email cada vez que tu pedido cambie de estado en el proceso de Despacho y Logística.</p>
                        </a>
                    </li>
                  </ul>  
                </li>
            </ul>
            <ul class="preg-frec">
                <li><a href="#">¿HAY CUOTAS SIN INTERÉS?</a>
                  <ul>
                    <li>
                        <a href="#" class="preguntas">
                            <p>Contamos con cuotas sin interés todos los días pagando con MercadoPago con tarjetas y bancos seleccionados. Podés consultar si tu banco/tarjeta está adherido en mercadopago.com.ar/cuotas</p>
                        </a>
                    </li>
                  </ul>  
                </li>
            </ul>
            <ul class="preg-frec">
                <li><a href="#">¿A TRAVÉS DE QUÉ MEDIO SE REALIZAN LOS PAGOS?</a>
                  <ul>
                    <li>
                        <a href="#" class="preguntas">
                            <p>Los pagos que hagas en LSKV.com.ar se realizan a través de MercadoPago Gateway y MercadoPago Agregador.</p>
                        </a>
                    </li>
                  </ul>  
                </li>
            </ul>
            <ul class="preg-frec">
                <li><a href="#">¿CON QUÉ TARJETAS PUEDO PAGAR?</a>
                  <ul>
                    <li>
                        <a href="#" class="preguntas">
                            <p>Podés realizar tus pagos con las tarjetas aceptadas por MercadoPago. Estas son: Visa, Mastercard, American Express, Tarjeta Banco Patagonia MercadoPago, Tarjeta Naranja, Nativa, Tarjeta Shopping, Cencosud, Diners, Cordobesa, CMR Falabella y Tarjeta Wallmart.
                            También podrás realizar pagos con tarjetas de débito Visa, Mastercard, Maestro y CABAL.</p>
                        </a>
                    </li>
                  </ul>  
                </li>
            </ul>
            <ul class="preg-frec">
                <li><a href="">¿ES SEGURO COMPRAR EN LSKV.COM.AR?</a>
                  <ul>
                    <li>
                        <a href="#" class="preguntas">
                            <p>Ni tus datos personales, como tampoco el contenido de tu pedido será compartido ni divulgados bajo ningún concepto. Estos datos no serán utilizados para otros fines, más que para el procesamiento de sus pedidos.</p>
                        </a>
                    </li>
                  </ul>  
                </li>
            </ul>
            <ul class="preg-frec">
                <li><a href="">¿ES SEGURO INGRESAR LOS DATOS DE MI TARJETA DE CRÉDITO?</a>
                  <ul>
                    <li>
                        <a href="#" class="preguntas">
                            <p>Sí, es seguro ingresar los datos de tu tarjeta de crédito. Entendemos que la seguridad de tu información personal es de suma importancia para cada usuario. Cumplimos con el estándar internacional de protección de datos, para que tu información personal y la de tu tarjeta de crédito, esté protegida ante accesos no autorizados.</p>
                        </a>
                    </li>
                  </ul>  
                </li>
            </ul>
            <ul class="preg-frec">
                <li><a href="">¿ME ENVÍAN PACKAGING DE LSKV?</a>
                  <ul>
                    <li>
                        <a href="#" class="preguntas">
                            <p>Si, junto con tu compra, te enviamos el packaging de LSKV.</p>
                        </a>
                    </li>
                  </ul>  
                </li>
            </ul>
            <ul class="preg-frec">
                <li><a href="">¿CUÁL ES MI TALLE?</a>
                  <ul>
                    <li>
                        <a href="#" class="preguntas">
                            <p>Podrás consultar los talles de cada prenda en la descripción de cada artículo. También vas a poder encontrar una tabla de talles/equivalencias de cada categoría de prenda.</p>
                        </a>
                    </li>
                  </ul>  
                </li>
            </ul>
        </div>
    </main>
    <%- include('./partials/footer')  %> 
</body>
</html>