<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>
<body>
    <%- include('./partials/header')  %>   
    <main class="main-empresa">
        <div class="img">
            <img src="/images/women2-fashion.PNG" alt="">
        </div>
        <div class="text">
            <h1>Sobre LSKV</h1>
            <h2>LSKV ES MODA, TENDENCIA Y DISEÑO</h2>

            <P> Pero también es un gran equipo de profesionales que desde hace más de 25 años trabaja pensando en la mujer. Porque antes de vestirla nos interesa mucho saber qué siente, cómo piensa y qué es lo que quiere.</P>
            <p> Sabemos que las mujeres de todo el mundo comparten sentimientos, gustos y consumos, pero también están insertas dentro de una cultura local. Por eso nuestras prendas tienen un diseño propio, acorde con el gusto de la mujer argentina, pero basado en las últimas tendencias internacionales.</p>
            <p> Elegida por las referentes más importantes de la moda Argentina, mujeres como tu mama xd son algunas de las mujeres que eligen LSKV a la hora de definir su estilo.</p>   
                
        </div>
    </main>
    <%- include('./partials/footer')  %> 
</body>
</html>