<footer>
    <section class="footer-Top">

        <article class="description">
            <div class="icon-des"><i class="fas fa-truck"></i></div>
            <div>
                <h4>ENVIO GRATIS</h4>
                <p>En compras superiores de $5000</p>
            </div>
        </article>

        <article class="description">
            <div class="icon-des"><i class="fas fa-credit-card"></i></div>
            <div>
                <h4>CUOTAS SIN INTERES</h4>
                <p>Ver promociones bancarias</p>
            </div>
        </article>

        <article class="description">
            <div class="icon-des"><i class="fas fa-exchange-alt"></i></div>
            <div>
                <h4>1° CAMBIO GRATIS</h4>
                <p>Dentro de los 30 dias</p>
            </div>
        </article>

        <article class="description">
            <div class="icon-des"><i class="fas fa-headset"></i></div>
            <div>
                <h4><i class="fas fa-phone-alt"></i> 11-xxxx-xxxx</h4>
                <p>Lunes a viernes de 9:00 a 18:00 hs</p>
            </div>
        </article>

    </section>

    <section class="footer-Buttom">

        <article class="red">
            <h4>SIGUENOS EN:</h4>
            <div class="icon">
               <!--Colocar a href para redirigirlos--> 
               <i >
                   <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
               </i>
               <i>
                 <a href="https://www.instagram.com" class="fab fa-instagram" ></a>  
               </i>
               <i>
                   <a href="https://www.pinterest.com" class="fab fa-pinterest" ></a>
               </i>
               <i>
                   <a href="https://www.twitter.com" class="fab fa-twitter"></a>
               </i>
                
            </div>
        </article>
         <!--Agregar un form-->
        <article class="newsletter">
            <h4>SUSCRIBETE A NUESTRO Newsleter:</h4>
            <div class="box">
                <form action="" method="post">
                    <i class="fas fa-newspaper">
                     <input type="email" placeholder="Dirección de email" type="submit">
                </i>
                </form>
                
            </div>
        </article>

        <article class="info">
            <h4>Todos los derechos reservados</h4>
            <div class="derechos">
                <H5> l.s.k.v.</H5>
            </div>
        </article>
    
    </section>
</footer>